@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
.login-page {
  text-align: center;
  align-items: center;
  background: rgb(13,132,217);
  background: radial-gradient(circle, dodgerblue 30%, rgba(30, 143, 255, 0.596) 60%, rgba(30, 143, 255, 0.103) 90%);
  height: 100vh;
}

.login-container {
  min-height: 400px;
  min-width: 400px;
  max-width: 600px;
  padding: 50px 80px 0px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  flex-direction: column;
  color: white;
  border-radius: 15px;
  background-color: #f2f2f2;
  vertical-align: "middle";

}

.login-container h1{
  color: dodgerblue;
  font-family: "Courier";
}

.login-header {
  margin: 60px;
}

.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
    background-color: #ffffff;
  }

  .create-patient-page
  {
    text-align: center;
    align-items: center;
}

.create-patient-container{
    min-height: 400px;
    min-width: 400px;
    max-width: 600px;
    padding: 80px 80px 80px;
    margin-top: 140px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    color: dodgerblue;
    border-radius: 15px;
    background-color: #f2f2f2;
    max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  background-color: #ffffff;
}
.login-button-container {
  justify-content: center;
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 3px;
  background-color: #f2f2f2;
}
.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
    background-color: #ffffff;
  }

.ListingPage{
  background: #FAFAFA;
  height: 100vh;
}

.Sidebar {
  position: "absolute";
  width: 275px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 30px 30px 0px;
}
.Sidebar h1 {
  font-family: "Varela Round";
  font-style: "normal";
  font-weight: "normal";
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.05em;
  color: #2196F3;
}
.LogoutButton {
  position: relative;
  top: 350px;
}

.Filter {
  position: absolute;
  width: 269px;
  left: 250px;
  top: 150px;
}
.Filter h2 {
  font-family: "IBM Plex Sans";
  font-style: "normal";
  font-weight: "normal";
  font-size: 14px;
  line-height: 20px;



  align-items: center;

  color: #000000;
}
.Title {
  position: absolute;
width: 351px;
height: 59px;
left: 323px;
top: 61px;
}
.Title h2{
  font-family: "Montserrat";
font-style: "normal";
font-weight: "normal";
font-size: 48px;
line-height: 59px;
color: #000000;
}
.ListedPatients {
  position: absolute;
  left: 325px;
  top: 225px;
}
.NumberOfPatients {
  position: relative;
  left: 0px;
  top: 5px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #000000;
}
.Display{
  position: absolute;
  left: 640px;
  top: 5px;
  width: 150px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;


  /*display: flex;*/
  align-items: center;

  color: #000000;
}
.NumberOfItems {
  position: absolute;
width: 57px;
height: 37px;
left: 745px;
top: -5px;

}
.PerPage {
  position: relative;
left: 810px;
top: -15px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;

color: #000000;
}

.Table {
  position: relative;
  top: 10px;
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  min-height: 30vh ;
  width: 70vw;
  
}