@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
.ListingPage {
  background: #fafafa;
  height: 100vh;
}

.Filter {
  text-align: left;
  position: absolute;
  left: 22.5vw;
  top: 90px;
}
.Filter h2 {
  font-family: "IBM Plex Sans";
  font-style: "normal";
  font-weight: "normal";
  font-size: 14px;
  line-height: 20px;

  align-items: center;

  color: #000000;
}
.PageTitle {
  position: absolute;
  width: 351px;
  height: 59px;
  left: 22.5vw;
  top: 25px;
  text-align: left;

}
.PageTitle h2 {
  font-family: "Montserrat";
  font-style: "normal";
  font-weight: "normal";
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  text-align: left;
}
.ListedPatients {
  position: absolute;
  left: 45vw;
  top: 120px;
}
.NumberOfPatients {
  position: relative;
  left: 0px;
  top: 5px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #000000;
}
.Display {
  position: absolute;
  left: 300px;
  top: 5px;
  width: 150px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  /*display: flex;*/
  align-items: center;

  color: #000000;
}
.NumberOfItems {
  position: absolute;
  width: 57px;
  height: 37px;
  left: 405px;
  top: -5px;
}
.PerPage {
  position: absolute;
  width: 100px;
  left: 465px;
  top: 5px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #000000;
}
.Table {
  position: absolute;
  top: 50px;
  left:-22.5vw;
  background-color: #ffffff;
  border-radius: 2px 2px 2px 2px;
  width: 75vw;
  max-height: 80vh;
  min-height: 50vh;
}
