@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=<Montserrat&display=swap");

.PatientInfoPage {
  background: #fafafa;
  height: 100vh;
}
.BackButton {
  position: absolute;
  width: 74px;
  height: 32px;
  left: 325px;
  top: 15px;

  font-family: "IBM Plex Sans";
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: dodgerblue;
}
.PatientName {
  position: absolute;
  width: 305px;
  height: 59px;
  left: 335px;
  top: 50px;

  font-family: "Montserrat";
  font-size: 40px;
  line-height: 59px;
}
.StatusInfo {
  position: absolute;
  left: 340px;
  top: 115px;
  text-align: left;
  font-family: "IBM Plex Sans";
}
.TimeInStatus {
  position: relative;
  left: 275px;
  top: -80px;
}
.InfoTabs {
  position: absolute;
  top: 200px;
  left: 340px;
  width: 70vw;
}
.interpretationDetails{
  text-align: left;
  height: 340px;
  background-color: #ffffff;
}
.interpretationDetails h2{
  font-family: "IBM Plex Sans";
  font-size: 16px;
  line-height: 18px;
}
.InterpretationInfo{
  position: absolute;
  left: 50px;
  top: 100px;
  width: 350px;
  border-right: 1px solid #D9D9D9
}
.Interpretation{
 position: absolute;
 left: 450px;
 top: 100px;
}
.StudyLink p{
  color: dodgerblue;
}
.save-button{
  position: absolute;
  bottom: -50px;
  left: 825px;
}
.patientDetails{
  text-align: left;
  height: 450px;
  background-color: #ffffff;
}
.patientDetails h2{
  font-family: "IBM Plex Sans";
  font-size: 16px;
  line-height: 18px;
}
.Triage{
 position: absolute;
 left: 450px;
 top: 100px;
}