@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* –––––– Patient Info Page ––––––– */
.PatientInfoPage {
  background: #fafafa;
  height: 120vh;
}
.PatientName {
  position: absolute;
  width: 305px;
  height: 59px;
  left: 22.5vw;
  top: 50px;
  font-family: "Montserrat";
  color: #000000;
  font-size: 40px;
  line-height: 59px;
}
.BackButton {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 21.5vw;
  top: 15px;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: dodgerblue;
}
.link p{
  color: dodgerblue;
}
.bottomButtons{
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 70vw;
  background-color: #fafafa;
}
.save-button{
  position: absolute;
  top: 40px;
  right: 90px;
}
.cancel-button{
  position: absolute;
  top: 40px;
  right: 0px;
}
.archive-button{
  position: absolute;
  left: 0px;
  top: 0px;
}
.changeStatus{
  position: absolute;
  top: 3px;
  right: 250px;
  height: 25px;
}
.StatusInfo {
  position: absolute;
  left: 22.5vw;
  top: 115px;
  text-align: left;
  font-family: "IBM Plex Sans";
}
.StatusUpdate{
  position: absolute;
  top: -5px;
  right: 0px;
}
.TimeInStatus {
  position: relative;
  left: 275px;
  top: -45px;
}
.InfoTabs {
  position: absolute;
  top: 175px;
  left: 22.5vw;
  width: 70vw;
}

/* –––––– Tab 1 ––––––– */
.PatientDetails{
  text-align: left;
  height: 500px;
  background-color: #ffffff;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 0px;
}
.PatientDetails h2{
  font-family: "IBM Plex Sans";
  font-size: 15px;
  line-height: 16px;
  height: 16px;
}
.PatientInfo{
  position: absolute;
  left: 48px;
  width: 350px;
  top: 85px;
  border-right: 1px solid #D9D9D9
}
.Triaging{
  position: absolute;
  top: 85px;
  left: 450px;
}
.ReferralLink p{
  color: dodgerblue;
  line-height: 16px;
}

/* –––––– Tab 2 ––––––– */
.StudyDetails{
  text-align: left;
  height: 500px;
  background-color: #ffffff;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 0px;
}
.StudyDetails h2{
  font-family: "IBM Plex Sans";
  font-size: 15px;
  line-height: 16px;
  height: 16px;
}
.ApptInfo{
  position: absolute;
  left: 48px;
  width: 350px;
  top: 85px;
  border-right: 1px solid #D9D9D9;
}
.StudyInfo{
  position: absolute;
  top: 85px;
  left: 450px;
}

/* –––––– Tab 3 ––––––– */
.StudyResults{
  text-align: left;
  height: 500px;
  background-color: #ffffff;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 0px;
}
.StudyResults h2{
  font-family: "IBM Plex Sans";
  font-size: 15px;
  line-height: 16px;
  height: 16px;
}
.Scoring{
  position: absolute;
  left: 48px;
  width: 350px;
  top: 85px;
  border-right: 1px solid #D9D9D9;
}
.AdditionalInfo{
  position: absolute;
  top: 85px;
  left: 450px;
}
.StudyLink p{
  color: dodgerblue;
  line-height: 16px;
}

/* –––––– Tab 4 ––––––– */
.InterpretationDetails{
  text-align: left;
  height: 500px;
  background-color: #ffffff;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 0px;
}
.InterpretationDetails h2{
  font-family: "IBM Plex Sans";
  font-size: 15px;
  line-height: 16px;
  height: 16px;
}
.StudyDets{
  position: absolute;
  left: 48px;
  width: 350px;
  top: 85px;
  border-right: 1px solid #D9D9D9;
  line-height: 32px;
}
.InterpStudyLink p{
  color: dodgerblue;
  line-height: 16px;
}
.Interpretation{
  position: absolute;
  top: 85px;
  left: 450px;
}

/* –––––– Tab 5 ––––––– */
.PostStudyDetails{
  text-align: left;
  height: 200px;
  background-color: #ffffff;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 0px;
}
.PostStudyDetails h2{
  font-family: "IBM Plex Sans";
  font-size: 15px;
  line-height: 16px;
  height: 16px;
}
.ReportSendDate{
  position: absolute;
  left: 48px;
  width: 350px;
  top: 85px;
}