@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=<Montserrat&display=swap");

.PatientInfoPage {
  background: #fafafa;
  height: 100vh;
}
.BackButton {
  position: absolute;
  width: 74px;
  height: 32px;
  left: 324px;
  top: 40px;

  font-family: "IBM Plex Sans";
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}
.PatientName {
  position: absolute;
  width: 305px;
  height: 59px;
  left: 325px;
  top: 90px;

  font-family: Montserrat;
  font-size: 40px;
  line-height: 59px;
}
.StatusInfo {
  position: absolute;
  left: 340px;
  top: 170px;
  text-align: left;
  font-family: IBM Plex Sans;
}
.TimeInStatus {
  position: relative;
  left: 275px;
  top: -80px;
}
.InfoTabs {
  position: absolute;
  top: 250px;
  left: 340px;
  width: 70vw;
}
